.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #000000 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.btnNewproduct{
  position: absolute;
  top:40px;
  right:50px;
  background:linear-gradient(rgba(67, 190, 201, 0.484), rgba(13, 153, 120, 0.489));
  padding: 10px 10px;
  color: #201c1c;
  box-shadow: 1px 2px 5px rgba(108, 107, 107, 0.9);
  font-size: 18px;
  border: none;
}

.btnNewproduct::after{
  content: '➕';
  padding-left: 2px;
}

@media (max-width:850px){
  .btnNewproduct{
    width: 60px;
    overflow: hidden;
    height: 40px;
  }
  .btnNewproduct::after{
  content: '';
  padding-left: 2px;
}
.btnNewproduct::before{
  content: '➕';
  padding-left: 2px; 
}
}

